<!DOCTYPE html>
<!--[if (lt IE 9) ]>			<html lang="en" class="no-js oldie">	<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->	<html lang="en" class="no-js">		<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title><%= page.title %> | <%= params.siteTitle %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="<%= params.paths.url %>style.min.css" />
	<script>
		// Toggle on the .js class if javascript is available
		var html=document.getElementsByTagName('html').item(0); // There can be only one.
		html.classList.remove('no-js');
		html.classList.add('js');
		// Note that the html variable is available for further javascript as well.
	</script>	
</head>
<body<% if( typeof page.pageClass !== 'undefined' ) { %> class="<%= page.pageClass %>"<% } %>>
	<a id="top" href="#main-content" class="skip-link">Skip to main content</a>
	<header id="site-header" role="banner">
		<div class="wrapper">
			<div class="header-inner">
				<h1 id="site-identifier"><a href="<%= params.paths.url %>"><%= params.siteTitle %></a></h1>
				<nav role="navigation">
					<ul>
						<li><a href="<%= params.paths.url %>">Home</a>
						<li><a href="<%= params.paths.url %>about">About</a>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<main id="main-content" role="main">
		<div class="wrapper">
			<h1 id="page-title"><%= page.title %></h1>

			<% body.forEach(function(section){ %>
			<section class="content-section">

<%= section %>
			</section>
			<% }); %>

		</div>
	</main>

	<footer id="site-footer" role="contentinfo">
		<div class="wrapper">
			&copy; <%= new Date().getFullYear() %>
		</div>
	</footer>

	<script src="<%= params.paths.url %>script.min.js"></script>

	<!-- remove livereload line for delivery! -->
	<script src="//localhost:2112/livereload.js"></script>

</body>
</html>
